@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@bash200&display=swap');

body {
        margin: 40px auto;
        width: 610px;
        max-width: 100%;
        line-height: 1.6;
        background: white;
        color: black;
        padding: 0 10px;
        font-family: "JetBrains Mono";
        font-weight: 500;
        /* Smooth the font a little bit, it's a
         bit too bold on retina screens */
        -webkit-font-smoothing: antialiased;
}

/* --------------------------------------------------- */
/* Make a nice input form with rounded corners and hover
 animations*/
/* --------------------------------------------------- */
input {
        padding: 10px 16px;
        margin: 2px 0;
        box-sizing: border-box;
        border: 2px solid #dabebe;
        border-radius: 6px;
        background: #fffff4;
        color: #3a1616;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        outline: none;
}
input:focus {
        border: 2px solid #3a1616;
}

/* --------------------------------------- */
/* The button is very similar to the input */
/* --------------------------------------- */
.button {
        background-color: #fffff4;
        border: none;
        color: black;
        padding: 6px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border: 2px solid #3a1616;
        border-radius: 6px;
}
.button:hover {
        background-color: #3a1616;
        color: white;
}

/* ----------------------------------------------- */
/* Various classes for messages of different kinds */
/* ----------------------------------------------- */
.isa_info,
.isa_success,
.isa_warning,
.isa_error {
        width: 90%;
        margin: 10px 0px;
        padding: 12px;
}
.isa_info {
        color: #00529b;
        background-color: #bde5f8;
}
.isa_success {
        color: #4f8a10;
        background-color: #dff2bf;
}
.isa_warning {
        color: #9f6000;
        background-color: #feefb3;
}
.isa_error {
        color: #d8000c;
        background-color: #ffd2d2;
}

h1,
h2,
h3 {
        line-height: 1.2;
        font-family: "JetBrains Mono";
}

img {
        width: 500px;
        max-width: 100%;
        border-radius: 10px;
        text-align: center;
}

/* --------------------------------------------- */
/* Bold hover animations on links and clickables */
/* --------------------------------------------- */
a {
        cursor: pointer;
        color: #217ab7;
        line-height: inherit;
        transition: .14s;
}
a:hover {
        color: white;
        background-color: #3297d3;
}
a:visited {
        color: #43458b;
        border-color: #43458b;
}
a:visited:hover {
        color: white;
        background-color: #9251ac;
}

pre {
        font-family: "Jetbrains Mono", monospace;
}

::selection {
        color: white;
        background: #ff4081;
}


/* --------------------------------------------- */
/*                  css                */
/* --------------------------------------------- */

code {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: "JetBrains Mono"
  color: #333333;
}
footer {
  float: none;
  margin: 0;
  padding: 0;
}
blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 0 50px;
  margin: 0;
  overflow: hidden;
}
h1:after {
  content: "====================================================================================================";
  position: absolute;
  bottom: 20px;
  left: 0;
}
h1 + * {
  margin-top: 0;
}
h6 {
  position: relative;
  margin-bottom: 20px;
}
h6:before {
  content: "## ";
  display: inline;
}
h3:before {
  content: "### ";
}
h4:before {
  content: "#### ";
}
h5:before {
  content: "##### ";
}
h6:before {
  content: "###### ";
}
li {
  position: relative;
  display: block;
  padding-left: 30px;
}
li:after {
  position: absolute;
  top: 0;
  left: 0;
}
ul {
  padding: 0
}
ul > li:after {
  content: "*";
}
ol {
  counter-reset: ol;
}
ol > li:after {
  content: counter(ol) ".";
  counter-increment: ol;
}
pre {
  margin-left: 34px;
  margin-left: 4ch;
}
blockquote {
  position: relative;
  padding-left: 17px;
  padding-left: 2ch;
  overflow: hidden;
}
blockquote:after {
  content: ">\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>\A>";
  white-space: pre;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
}
strong:after {
  content: "__";
  display: inline;
}
em:after {
  content: "*";
  display: inline;
}
code {
  font-weight: 100;
}
code:after {
  content: "`";
  display: inline;
}
pre code:after {
  content: none;
}
hr {
  position: relative;
  height: 20px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  border: 0;
  margin-bottom: 20px;
}
hr:after {
  content: "----------------------------------------------------------------------------------------------------";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  word-wrap: break-word;
}

.markdown-ones ol > li:after {
  content: "1.";
}

/* footnotes */

.footnotes {
  border-top: 2px solid black;
  padding-top: 10px;
  width: 100%;
  word-wrap: break-word;
}

.footnote-link {
  display: inline-block; /* or 'inline' depending on your specific needs */
  vertical-align: super;
  font-size: smaller;
}

/* Assuming .footpara is your paragraph class */
.footpara {
  display: inline; /* or 'inline-block' if the paragraph is short and you want the footnote to be on the same line */
}

.footdef {
  margin: 15px
}


/* NavBar */

/* Styles for the entire navbar */
.navbar {
  overflow: hidden; /* Ensures the navbar does not overflow */
}

/* Styles for the list inside the navbar */
.navbar ul {
  list-style-type: none; /* Removes bullet points */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  display: flex; /* Aligns items in a row */
  justify-content: center; /* Centers the items horizontally */
}

/* Styles for each list item */
.navbar li {
  float: left; /* Floats each list item to the left */
}

/* remove the bullet list */
.navbar ul > li:after {
  content: none;
}

/* Styles for links in the navbar */
.navbar a {
  display: block; /* Makes the entire area clickable */
  color: black; /* White text color */
  text-align: center; /* Centers text */
  padding: 14px 16px; /* Padding around the text */
  text-decoration: none; /* Removes underline from links */
}

.navbar a:hover, .navbar a:visited:hover {
  background-color: white;
  color: #3297d3;
}

.intro p {
  display: flex;
  justify-content: center;
}

.intro h1 {
  display: flex;
  justify-content: center;
}
